/*My external style sheet for my professional portfolio*/

.nav {
    background-color: white;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 5px;
    border-bottom: 5px;
    border-bottom-color: #cccccc;
    display: inline-block;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav li {
    display: inline-block;
    font-size: 16px;
    padding: 3px;
    color: grey;
    border-bottom: 5px;
    border-bottom-color: #cccccc;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
nav {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

header {
    width: 100%;
    position: relative;
    background-color: white;

    
}

.box {
    position: relative;
    width: 200px;
    background: #4aaaa5;
    text-align: center;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 16px;
    display: inline-block;
   
}

.box1 {
    top: 0px;
    left: 0px;
    bottom: 6px;
}

li { 
    color: grey;
    
}
.box h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
    padding: 10px 0;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    align-content: left;
    
}

a { 
    color: grey;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25%;
    background-color: White;
    Height: 600px;
    padding: 10px 10px 10px 10px;


}

p {
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: normal

}

.container div img {
    display: inline-grid;
    float: inherit;
    position: relative;
  
}

.Bio {
    display: inline-block;
    width: 750px;
    overflow: hidden;
    word-wrap: inherit;

}

body {
    background: url("https://previews.dropbox.com/p/thumb/AAnpn25Y2WsYVXvIRqDGfK0rUCK4o4YaDsGAA-llMGn-hkdRpGZoKKyVl9-EdY1jKt96USBURPT306WB2Y-QK9dtH0aCPlJbxtwkb_VoGOxEpTql11Uq1nzxpp8jM0Qb-NgSG4xO7SSL6DrUIqowhUp1hbeTDlMePY4_LOymwAYjq_F5dNhnVeJPnCek-tTAcMH5EQsKDTr3r0ILCxJUur4k1EsUyH_YZ5JamjdW4lqlsBf560lRvxEfN5nMreH09s32ggfwFxIs9vCCWtyEzYhzpXsSOB4lIlQ7vDA3loHLVx0tqetITLC1p3WslKC0VBBxpYSIASM81c9dVdsvVrmF/p.png?fv_content=true&size_mode=5");
    background-repeat: no-repeat;
    background-size: cover;

}
.main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;

 }

.footer { 
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 75px;
    width: 100%;
    text-align: center;
    color: white;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

div.topleft {
    float: left;
    width: 33.3%;
    color: #fff;
    display: inline-block;
    
}

div.topmiddle {
    float: right;
    width: 33.3%;
    color: #fff;
    display: inline-block;
}
.photogrid-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container-photogrid { 
    display: flex;
    justify-content: left;
    max-width: auto;
}

.photogrid {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    

}

.photogrid-photo {
    display:flex;
    width: 33%;
    height: 33%;
    justify-content: flex-start;


}

.flex {
    display:flex;
    justify-content: left;
}

 .col{
    display: inline-block;
    width:100%;
    position: relative;
}
.col-2{
    display: inline-block;
    width:50%;
    position: relative;
}
.imagecontainer{
    margin-top: 16px;
    width:100%;
    height: 250px;
    position: relative;
    display: inline-block;
}
.overlay{
    position: relative;
    bottom: 25%;
    top: 25%;
    text-align: center;
    width:100%;
    background: #4aaaa5;

}

#image1-1{
        background-image: url('https://previews.dropbox.com/p/thumb/AAmH5UOCzuZ_AJUZKbkOYmen9yc9sTM4nTGBNSo3lo476LXyRJmQD_ucKZIbagCkMNVHkgHZLnWkJet_oyCf26WDBeY_sQH49QNGiqyv9KDBTZy0oGZ6Pbuj4NdI3xbVP75P_49LphncOU6BmbKM-REgP1y9xysU4zV7C-ZJzZOS6o0pRKRVozO0u3yjSiC_IP1fimafVLIVAqfmQvjsQJY0h0wmJyn60_EJEVvRa__IywY9a_JtgAMtOUYJcHlFgEKRg4kpmW1EPDAxYWaFr9ehkDd9rmQM6lzyGr8BWmQ2Aka9oDWYWWgDelSmGnzXfIUHah9Fp8eA77QLwWkbi3tb/p.jpeg?fv_content=true&size_mode=5');
        background-size: 100%;
        display: inline-flex;
        float: left;
}
#image1-2{
    background-image: url('https://previews.dropbox.com/p/thumb/AAmKV3wud-a7wop3263jpXkkDhCZb0VYhh-p9JIeIoLZQ_T6AY2XxBwt6JaEeywPi924h8MXNy-eVywfHcCSVXmad_j6SNA6sFb5EoKGctDcqG-lPmfbJZ8t2vfOVTL8psM071IedWXbczOFmGno3gaa_dDThAIHz_CPnmlue1CLS4W5_jPdSKUDQqYaMvSMjpgDeHnciJG85RX1CTzye0N7hSg5-9qUNuKPsOeId8MtYyQVvIyYh8zHh6zHcSnRUgNhWb7lmiTQFP0RzWsfcByuuf6bk3atlPLLvVFU3ahVGm46MTmbbZZoRWeNeEbcAwzGJke2MFkKpTRDY-6JbJhl/p.jpeg?fv_content=true&size_mode=5');
    background-size: 100%;
    display: inline-flex;
    float: left;
}
}
#image1-3{
    background-image: url('https://previews.dropbox.com/p/thumb/AAnM48Dq3CnTWSWSlpWJzNq8IUQm7P_CEegzXUryoU0C88ROfRh-GSZTu51cG6vnGd0JahYBqfjZ_-xLzlhfvUtF2u-gmWL6orqoSQFi_UnbkgGf44-emUYltaqy2Y-U5SxhmbgGU8x17lNIfzXZJdh4o_4vsFHAv-4Ah3ZVRY1uCgS0kTWW0_-vrKB9C3laSlGR8MaZDIbaeeT-Fdzt8nhkKBIEkFTHlRgqpIWzQ3Kbhgrz_Zw984Xv0jOwDBWI0chKW8QPpIW7j5ifyXnlUwa9Lx_Dez-8pjnGyfcVh_ZBp504mPybu0XW5zgrBUJV_zqzbEEdx5qCYnyIHqw_Cd4l/p.jpeg?size=2048x1536&size_mode=3');
    background-size: cover;
    display: inline-flex;
    float: left;
}
}
#image1-4{
    background-image: url('https://previews.dropbox.com/p/thumb/AAkwHwbviYSceHCX7Acbc4819WwjhD07uUzW8h_QAUT9fOK42Km4dEtQQcWatJvHKDfKSnJj2S8EilI3H0mgewAgMpKDsEwwai6rY35wND6crt7CAcUwjzriC-_KVxNbN1TMofKm_Rchsys8SsVqv-dQY3mLBGISLJtR_Vr1v0--iWEpbbEKqW0SUrA8oxgSy8YqnJ6fWRVAC_UyjeiPR2o6IcB3CSA_L-hzlTYE2kdpNkyegMzKHTEiaJ8yAGa1rBR2PckwtWORGbmUBrbrMITF5JAfJemO31Mp4GAlDq3B9CxHBFb6bLTcKwrIHJh8jpHPtlmrXsz8bbMSpdvso7ty/p.png?fv_content=true&size_mode=5') ;
    background-size: cover;
    display: inline-flex;
    float: left;
}
}
#image1-5{
    background-image: url('https://previews.dropbox.com/p/thumb/AAniidr7_IIS6NhCHQjrV5JJXZAfcQTPef3LdhRrIKaKHbh854EMKQc2Tz-HS3VjOZoT3XCP_b0zInLARmsDCzCHAdzDSIp7A4hqPSBF97F3npkjBaYVsNTBQyMZU9vCyFQhBgv_XKUAtNA7wm6pRRZ7wZVx2nyCKty2wBBvdiGCGzYvcfcFyPdVKNw5fXR4M8zDMHeGp9J8C_N6YslQ-DDd3mZr4kNvbnKz11Osa5GXduPsm2NRpYl0yNk92zV-0A6UwddFihFfgzCiJkCzgJ4FqXUsILTBvuRBjJpXJF34cABa2dOJbRvcnxLyuWliLBBQrX6fxeEhHk9pwXXLUocq/p.jpeg?fv_content=true&size_mode=5') ;
    background-size: cover;
    display: inline-flex;
    float: left;
}
}
#image1-6{
    background-image: url('https://previews.dropbox.com/p/thumb/AAkH2TjmziNVkdY1CrESYhh2WzVVBfOtUKLnbbEq6zsT4B-_m8d2IuGfGf60-6XBeZd9xfcrLlxm9PSmj31D1wRHPJ35E7KtAlxnY3iXARqXCPHK1Pw9nmGaSIjmMJSLd5Tv-IfXenHMD1WFYEVxquTz5JGpoPkTAOWDtTiwxFoGARHpWjajCpMY3OVoAO0TL9OOO4Urh3szsFoDrXJdzQF-01E6S3bRLyCEs-klaeVIjaFZKA6NWynMiMofxRDSawkG4Z9NZZwv3jJ4_cch--SzHRZyxR_LD47C6t30aG9M2CkGq5XTQH3e4BdEj5uHw_E46g4aux_KdAbyAspttzqE/p.jpeg?fv_content=true&size_mode=5') ;
    background-size: cover;
    display: inline-flex;
    float: left;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #4aaaa5;
  }
  
  hr {
    font-weight: 100;
    height: 5px;
    border: none;
    background: lightgrey;
  }