/*My external style sheet for my professional portfolio*/

.nav {
    background-color: white;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 5px;
    border-bottom: 5px;
    border-bottom-color: #cccccc;
    display: inline-block;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav li {
    display: inline-block;
    font-size: 16px;
    padding: 3px;
    color: grey;
    border-bottom: 5px;
    border-bottom-color: #cccccc;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
nav {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

header {
    width: 100%;
    position: relative;
    background-color: white;

    
}

.box {
    position: relative;
    width: 200px;
    background: #4aaaa5;
    text-align: center;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 16px;
    display: inline-block;
   
}

.box1 {
    top: 0px;
    left: 0px;
    bottom: 6px;
    text:
}
li { 
    color: grey;
    
}
.box h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    
}

a { 
    color: grey;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
    margin-bottom: 25%;
    Height: 500px;

}

p {
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container div img{
    display: inline-block;
    float: left;
    position: absolute;
  
}
.Bio {
    display: inline-block;
    width: 750px;
    float: right;
}
body {
    background-image:url("https://previews.dropbox.com/p/thumb/AAg2B_faklk9kd0pWtetVA5cbXG77OZdGM7IC7mFhQnuQG_1yIQDa6w3pGas-dCK1prmXsCS7dlC2jZJ4J9OL40RA6Gvl472OG8pK3sDYcBj6_D5h5zpNBcqrkHBifheJMoD9yUtNkaWyF8DQncURW5Pc03xax288vO-VS1SRlGb7tg65eKNubxXGbgVbJLSdBX_eihS8fdlDIT7i4AtIjGOPakESQIDxw4LSGR-5jlHVT_jfwxSiPCgE1G7oWk57xcYw96W441QWVBjtR4rAxBI0Kw3RsSOkl2AtskkBKm7W7ejm-nEApHquslBmC-o2xfwfixKo-gXHAMnF8wkXfHF/p.png?size=2048x1536&size_mode=3");

}
.main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;

 }

.footer { 
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 75px;
    width: 100%;
    text-align: center;
    color: white;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}